page-visitante {

}

.main {


}

.naolida{
    font-weight: bold;
}

.lida{
   
}

.opcao{
    margin-top:10px;
    margin-bottom: 10px;
}


.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.opcao a{
    text-decoration: none;
    
}
